@keyframes fadeinall {
	0% {
		opacity: 1;
	}

	97% {
		opacity: 0;
	}

	98% {
		opacity: 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	99% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}

#fadein {
	opacity: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	background-color: gray;
	/* background colour must be the same as the entire webpage background colour */
	z-index: 999;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation: fadeinall 1s normal both;
	animation: fadeinall 1s normal both;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

/* General formatting */

body {
	background-color: gray;
	margin: 0;

	background-image: url("website\ background.png");
	background-attachment: fixed;
	background-size: 100%;
}
h1,
h2,
h3,
p {
	text-align: center;
}

h3 {
	font-size: x-large;
}

/* Jacob and Ashleigh */

#title {
	background: #5a86ad;
	z-index: 998;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 997;
	width: 100%;
}

#title .bigText {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0;
	font-family: "Great Vibes";
	font-size: 4rem;
	transition: 0.5s ease;
}

#title .smallText {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0;
	font-family: "Great Vibes";
	font-size: 1rem;

	position: relative;

	transition: 0.5s ease;
}

/* Time and Location 3 areas of information */
#timeAndLocation.bigText {
	justify-content: space-evenly;
	padding-top: 350px;
	transition: 0.5s ease;
}

#timeAndLocation.smallText {
	justify-content: space-evenly;
	padding-top: 200px;
	transition: 0.5s ease;
}

#timeAndLocation div {
	padding: 0.5rem;
}

#top2timeLocation {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin: 1rem;
	opacity: 90%;
}

#top2timeLocation div {
	margin: 0.5rem;
	width: 50%;
	height: 90%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

#top2timeLocation h1 {
	margin: 0;
}

.timeAndLocationElement {
	background-color: white;
	opacity: 100%;
	border-radius: 2rem;
	padding: 1rem;
}
/* When and where */
.boxTitle {
	font-family: "Great Vibes";
}

/* CountDown */
#countDown {
	flex-grow: 2;
	flex-direction: column;
	background: #5a86ad;
	align-items: center;
	justify-content: center;
	display: flex;
	border-radius: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	opacity: 92%;
}

#countDown h2 {
	font-size: 3rem;
	margin: 0;
}

/* Additional Information */

#additionalInformation div {
	margin: 1rem;
}

#additionalInformation div div {
	background-color: white;
	opacity: 90%;
	border-radius: 25rem;
	padding: 1rem;
}
